#login-btn{
    position:relative;
    left:1000px;
    
}
nav{
    height:80px;
}
#container-fluid{
margin:0px;
}
#avocado{
    position:fixed;
    left:130px;
}
.form-control{
    background-color: rgb(25, 110, 30);
}
#search-form{
    
    position:relative;
    left:500px;
    bottom:10px;
    float:right;
    
}
