ul{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    list-style-type: square;
    color:white;
}

.list-elements {
    color: rgb(255, 255, 255);
    margin-left: 0px;
    text-align: center;
}

img.list-elements {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
